body {
  display: flex;
  justify-content: center;
  background-color: rgb(46, 46, 46);
  margin: 250px;
}

h1 {
  color: black;
}

h2 {
  display: flex;
  font-size: large;
}

.App {
  text-align: center;
  font-family: bree, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-color: rgb(230, 230, 230);
  box-shadow: 10px 10px 30px 10px black;
  height: auto;
  width: 600px;
  padding: 20px;
}

.form {
  display: flex;
  justify-content: center;
}

.input {
  font-family: bree, sans-serif;
  font-style: normal;
  font-weight: 400;
  border-radius: 5px;
  width: 80%;
  margin-right: 10px;
}

  .input:hover {
    border: 3px solid green;
}

.Button {
  display: flex;
  align-items: center;
  color: rgb(0, 190, 0);
  background-color:#282c34;
  border: none;
  border-radius: 10%;
  padding: .5em;
  margin-left: 10px;
}
.new-button {
  display: flex;
  align-items: center;
  color: rgb(0, 190, 0);
  background-color:#282c34;
  border: 5px solid rgb(46, 46, 46);
  border-radius: 10%;
  padding: .5em;
}

.remove-button {
  display: flex;
  align-items: center;
  color: red;
  background-color:#282c34;
  border: none;
  border-radius: 10%;
  padding: .5em;
  margin-left: 10px;
}

.p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 500px;
  margin-bottom: 0px;
  font-size: x-small;
  color: black;
}

.list {
  display: grid;
}

.completed-list {
  display: grid;
  text-decoration-line:line-through;
  text-decoration-style: wavy;
  text-decoration-color: red ;
}

.list-item {
  display: flex;
  flex-wrap: ;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
